$primary: #233148;
$secondary: #1f65d9;
$gray: #8796ae;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
$bg: #eaeff5;
$yellow: #fccf18;

$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	hd: 1560px,
);
